h1{
    text-align: center;
    color:navy;
}
h2{
    text-align: center;
    color: navy;
}
.header{
    background-color: rgb(234, 241, 162);
    display: flex;
    justify-content: center;
}
.description{
    text-align: center;
    background-color: rgb(149, 237, 237);
}
.others{
    background-color: rgb(117, 241, 193);
}
.Otitle{
    text-align: center;
    background-color: rgb(149, 244, 149);
}
.item{
    display: flex;
    text-shadow: rgb(108, 120, 227);
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.matter{
    background-color: rgb(148, 157, 239);

}